In [20]:
# From:
#   https://hdfgroup.org/wp/2015/03/from-hdf5-datasets-to-apache-spark-rdds/
# Specialized to MIDS W205-2 (Fall 2015)

# Modules needed below:
#   Pandas
#   h5py
#   psycopg2
#   MySQL-python

import os
import os.path
import h5py
import sys

mainRoot = os.path.expanduser('~/MIDS/mss/') 
mssRoot = os.path.expanduser('~/MIDS/mss/data/')
blocksRoot = os.path.expanduser('~/MIDS/mss/blocks/')
resultsRoot = os.path.expanduser('~/MIDS/mss/results/')

llss = os.listdir(mainRoot)

if blocksRoot.split('/')[-2] not in llss:
    os.mkdir(blocksRoot)
if resultsRoot.split('/')[-2] not in llss:
    os.mkdir(resultsRoot)
if mssRoot.split('/')[-2] not in llss:
    os.mkdir(mssRoot)
    
    

filesPerBlock = 100  # Gives about 30MB/file. Should use larger size in production.

minPartitions = 4 #minimum number of partitions for use by Spark

In [21]:
# Configure spark to work
import os
import sys

spark_home = os.environ.get('SPARK_HOME', None)
if not spark_home:
    raise ValueError('SPARK_HOME environment variable is not set')
sys.path.insert(0, os.path.join(spark_home, 'python'))
sys.path.insert(0, os.path.join(spark_home, 'python/lib/py4j-0.8.2.1-src.zip'))

#execfile(os.path.join(spark_home, 'python/pyspark/shell.py'))

In [22]:
def getFileNames(dataRoot, verbose = True):
	
	fileStructure = os.walk(dataRoot)
	
	h5Files = []
	for entry in fileStructure:
		thisPath = entry[0]
		thisFileList = entry[2]
		#print thisPath, thisFileList

		for ff in thisFileList:
			if ff.endswith('.h5'):
				h5Files.append(os.path.join(thisPath,ff))
				if verbose:
					print os.path.join(thisPath,ff)
	return h5Files

In [23]:
def buildReferenceCSV(dataRoot = None, publish = True, verbose = True):
	'''
	"Walks" the file tree and finds all of the HD5 files in the tree under dataRoot
	(assumes these are from the million song database)
	'''
	
	if not dataRoot:
		dataRoot = blocksRoot
    
	h5Files = getFileNames(dataRoot, verbose = verbose)

	if publish:
		csvFileName = os.path.join(dataRoot,'Hd5Extracts.csv')
		oFile = open(csvFileName, 'w')
        
	
	for ff in h5Files:

		pubString = ff
#		pubString += ', '
#		pubString += 'analysis, '
#		pubString += 'key \n'   # Key of the song, not key of the hash

		if publish:
			oFile.write(pubString + '\n')

		if verbose:
			print pubString

	return csvFileName

In [37]:
def nodeToDict(inputLine, verbose = False):
    '''
    This function is intended for use in Spark.
    Inputs a line (probably from the reference CSV)
    and extracts some important info 
    
    Returns a list of dictionaries, each dictionary has all "analysis" fields in the song.
    It's possible that all songs don't have exactly the same fields.
    '''
    import h5py
    parsedLine = inputLine.split(',')
    thisH5File = h5py.File(parsedLine[0])
    
    if parsedLine[0].split('/')[-1].startswith('Chunk'):
        thisBlockSongList = thisH5File['songs']

        songInfo = []

        for thisSong in thisBlockSongList:
            # There are 3 categories of data in this set.  Grab stuff from all
            # of them
            analysisDataSet = thisH5File['songs'][thisSong]['analysis']['songs']
            metadataDataSet = thisH5File['songs'][thisSong]['metadata']['songs']
            musicbrainzDataSet = thisH5File['songs'][thisSong]['musicbrainz']['songs']

            outDict = dict()

            for measurement1 in analysisDataSet.dtype.names:
                value = analysisDataSet[measurement1][0]
                
                if len(str(value)) > 0:
                    outDict[measurement1] = value
                else:
                    outDict[measurement1] = 'NA'

                

            for measurement2 in musicbrainzDataSet.dtype.names:
                value = musicbrainzDataSet[measurement2][0]
    
                if len(str(value)) > 0:
                    outDict[measurement2] = value
                else:
                    outDict[measurement2] = 'NA'


            for measurement3 in metadataDataSet.dtype.names:
                value = metadataDataSet[measurement3][0]            ##

                if len(str(value)) > 0:
                    outDict[measurement3] = value
                else:
                    outDict[measurement3] = 'NA'
                
            #if verbose:
            #print outTuple
            songInfo.append(outDict)

        return songInfo

In [39]:
#  Process in Spark

from pyspark import SparkContext
from optparse import OptionParser
from datetime import datetime as dt
print 'Establishing Spark Context'

# Kill the context if it already exists
if 'sc' in dir():
    sc.stop()

sc = SparkContext(appName="SparkHDF5")

csvFileName = buildReferenceCSV(dataRoot = blocksRoot, verbose = False)

print 'Fetching all file names'
timeNow = dt.now().isoformat()
file_paths = sc.textFile(os.path.join(blocksRoot,'Hd5Extracts.csv'),minPartitions=minPartitions)

print 'Mapping RDD'
rdd = file_paths.flatMap(nodeToDict)
results = rdd.take(1000)

print 'Results Generated.'

sc.stop()

Establishing Spark Context
Fetching all file names
Mapping RDD
Results Generated.

In [40]:
# Get unique column names
# and write results out as a csv

import csv

allParameters = []

# This loop gets all the names of the measurements (key, tempo,etc) making this code 
# not dependent on every song having exactly the same structure
for song in results:
    [allParameters.append(measure) for measure in song.keys()]
    allParameters = list(set(allParameters))   # keep only unique measurement names 
    
# Write dictionaries as .csv file
with open(os.path.join(resultsRoot,'MSD_Flat.csv'), 'wb') as output_file:
    dict_writer = csv.DictWriter(output_file, allParameters)
    dict_writer.writeheader()
    dict_writer.writerows(results)

print '\n\n\tComplete.  CSV written to ', os.path.join(resultsRoot,'MSD_Flat.csv'), '\n\n'

	Complete.  CSV written to  /home/james/MIDS/mss/results/MSD_Flat.csv

In [43]:
# Import the flat csv file into pandas
# This will facilitate any hands-on analyses we might want to do
# And makes setting up a postgres table REALLY easy

import MySQLdb
import pandas as pd

# Connect to a local MySQL server using the username "james" (no password) 
# and the database mss.
dbConnection=MySQLdb.connect(host="localhost",user="james",db="mss")

# Turn our csv file into a Pandas data frame.  
df = pd.read_csv(os.path.join(resultsRoot,'MSD_Flat.csv'))

# Tell pandas to load this dataframe as a MySQL table
df2 = df.astype(object).where(pd.notnull(df), None)
df2.to_sql("MSS", con= dbConnection, flavor = 'mysql', if_exists = 'replace')

/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'release' at row 9
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'artist_location' at row 44
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'title' at row 94
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'title' at row 167
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'artist_name' at row 217
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'artist_name' at row 233
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'title' at row 236
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'release' at row 266
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'title' at row 302
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'release' at row 315
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'artist_name' at row 336
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'title' at row 336
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'release' at row 337
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'title' at row 363
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'title' at row 400
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'artist_name' at row 409
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'artist_name' at row 451
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'release' at row 471
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'release' at row 526
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'artist_name' at row 586
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'title' at row 720
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'title' at row 790
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'release' at row 854
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'title' at row 875
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'title' at row 945
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'title' at row 964
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'release' at row 964
  cur.executemany(insert_query, data)
/usr/lib/python2.7/dist-packages/pandas/io/sql.py:264: Warning: Data truncated for column 'release' at row 971
  cur.executemany(insert_query, data)

In [ ]:
import pylab as plt
plt.plot(df.key,df.tempo,'.')
plt.show()

In [44]:
import numpy as np
#rownames = ['C','C#','D','Eb','E','F','F#','G','Ab','A','Bb','B']
pd.crosstab(df.key,df.time_signature)

time_signature   1   3   4  5  7
key
0               24   8  71  5  1
1                9  15  55  7  1
2               20  15  77  7  4
3                6   5  16  3  0
4               16  16  52  4  2
5                8  14  42  5  3
6                9   9  38  3  3
7               20  13  86  8  4
8               11   7  34  1  0
9               18  12  73  4  3
10              11  10  37  3  1
11               7   9  50  2  3

[12 rows x 5 columns]

In [100]:
df

    key  mode_confidence  idx_tatums_start  key_confidence  energy  \
0     1            0.858                 0           0.888       0
1     8            0.465                 0           0.319       0
2     5            0.524                 0           0.643       0
3     4            0.234                 0           0.000       0
4     0            0.713                 0           0.904       0
5     2            0.146                 0           0.000       0
6     9            0.626                 0           0.530       0
7     9            0.416                 0           0.634       0
8     0            0.239                 0           0.000       0
9     9            0.228                 0           0.000       0
10    2            0.186                 0           0.280       0
11    9            0.638                 0           0.566       0
12    5            0.426                 0           0.658       0
13    0            0.824                 0           0.755       0
14    6            0.842                 0           0.821       0
15    2            0.502                 0           0.815       0
16    4            0.547                 0           0.586       0
17    0            0.329                 0           0.039       0
18    0            0.492                 0           0.690       0
19   11            0.406                 0           0.250       0
20    7            0.569                 0           0.446       0
21    9            0.397                 0           0.375       0
22    4            0.454                 0           0.274       0
23    2            0.717                 0           1.000       0
24    6            0.462                 0           0.499       0
25    9            0.470                 0           0.495       0
26    2            0.213                 0           0.007       0
27    9            0.400                 0           0.663       0
28   10            0.350                 0           0.632       0
29    6            0.325                 0           0.000       0
30   11            0.351                 0           0.097       0
31    5            0.636                 0           0.739       0
32    4            0.659                 0           0.851       0
33    0            0.473                 0           0.344       0
34    0            0.526                 0           0.669       0
35    1            0.436                 0           0.580       0
36    2            0.521                 0           0.690       0
37   10            0.874                 0           1.000       0
38   10            0.000                 0           0.000       0
39   10            0.429                 0           0.567       0
40   10            0.275                 0           0.000       0
41    6            0.350                 0           0.649       0
42   11            0.354                 0           0.418       0
43    1            0.525                 0           0.583       0
44    1            0.322                 0           0.177       0
45    7            0.589                 0           0.785       0
46    9            0.381                 0           0.557       0
47    7            0.291                 0           0.045       0
48   10            0.335                 0           0.579       0
49    6            0.572                 0           0.163       0
50    7            0.688                 0           0.742       0
51    3            0.168                 0           0.076       0
52    2            0.720                 0           0.742       0
53    8            0.590                 0           0.676       0
54    2            0.325                 0           0.161       0
55    1            0.540                 0           0.637       0
56    9            0.573                 0           0.829       0
57    9            0.480                 0           0.371       0
58    0            0.565                 0           0.426       0
59    0            0.418                 0           0.712       0
    ...              ...               ...             ...     ...

    idx_bars_confidence  idx_beats_confidence  idx_segments_pitches  \
0                     0                     0                     0
1                     0                     0                     0
2                     0                     0                     0
3                     0                     0                     0
4                     0                     0                     0
5                     0                     0                     0
6                     0                     0                     0
7                     0                     0                     0
8                     0                     0                     0
9                     0                     0                     0
10                    0                     0                     0
11                    0                     0                     0
12                    0                     0                     0
13                    0                     0                     0
14                    0                     0                     0
15                    0                     0                     0
16                    0                     0                     0
17                    0                     0                     0
18                    0                     0                     0
19                    0                     0                     0
20                    0                     0                     0
21                    0                     0                     0
22                    0                     0                     0
23                    0                     0                     0
24                    0                     0                     0
25                    0                     0                     0
26                    0                     0                     0
27                    0                     0                     0
28                    0                     0                     0
29                    0                     0                     0
30                    0                     0                     0
31                    0                     0                     0
32                    0                     0                     0
33                    0                     0                     0
34                    0                     0                     0
35                    0                     0                     0
36                    0                     0                     0
37                    0                     0                     0
38                    0                     0                     0
39                    0                     0                     0
40                    0                     0                     0
41                    0                     0                     0
42                    0                     0                     0
43                    0                     0                     0
44                    0                     0                     0
45                    0                     0                     0
46                    0                     0                     0
47                    0                     0                     0
48                    0                     0                     0
49                    0                     0                     0
50                    0                     0                     0
51                    0                     0                     0
52                    0                     0                     0
53                    0                     0                     0
54                    0                     0                     0
55                    0                     0                     0
56                    0                     0                     0
57                    0                     0                     0
58                    0                     0                     0
59                    0                     0                     0
                    ...                   ...                   ...

    time_signature  year   duration                           artist_mbid  \
0                4     0  201.09016  5700dcd4-c139-4f31-aa3e-6382b9af9032
1                4  2006  222.74567  4a8ac23a-e27a-44db-814a-f8c31beb68e6
2                4     0  329.63873                                   NaN
3                1  1974  195.65669  2d67f7f4-1e85-4278-bac6-424e6204a8b9
4                4  2008  147.93098  1f223eed-aa38-49da-9e76-62ab3adc2e04
5                3     0  486.94812  e54203ac-f4ee-4970-a54f-78993f8b91a1
6                4     0  242.62485  7e92079b-6d93-4c8d-87bd-364c3a5d2bc3
7                1     0  191.24200  52889ea9-1c52-487e-95a4-8c53f8322ca2
8                4  1960  143.35955  c8d0d74b-80eb-4746-8cea-f5df78b4b90c
9                4  1979  216.65914  74dca2c7-d7dc-4b13-bd17-502a35db042a
10               1     0   29.33506                                   NaN
11               1  2007  180.50567  79ad8210-274e-4a99-8033-f4c9fe9be8a3
12               4  2001  162.66404  c79741ec-7626-485e-bc29-d264f7110874
13               1     0  171.72853  90e17964-b04a-4c37-b952-3c9dfc16c430
14               4  2004  360.75057  1f5ff245-2837-4d4a-a609-e93e544478c3
15               4     0  239.33342  1586106b-e8e6-422d-925f-74ff9504d546
16               4  1994  211.35628  3e55d51d-687f-4a9d-af96-2fabccf802e5
17               4     0  127.99955  49b8ba30-1b74-4d11-b298-9f601992b6fc
18               4     0  253.59628  c5f5f074-da1c-4a5a-ba98-044c0b0b642f
19               4     0  327.67955  74ba40ab-03cf-4425-b998-f5b27ffb0108
20               7  2008  219.24526  6d7b7cd4-254b-4c25-83f6-dd20f98ceacd
21               4  2007  190.56281  5e23ff6c-4c77-4cb9-8d64-079aa1adcd9e
22               4     0  226.21995  2fa7f0b7-2686-4e80-a75a-762f65ba9fe2
23               1  1987  275.12118  4dfadf48-e15b-4fc2-a800-2b68702a72d5
24               4  1977  209.34485  fd9f268a-89ef-4577-81f4-efebc9517a07
25               4  2002  138.84036  149e6720-4e4a-41a4-afca-6d29083fc091
26               4     0  243.85261  6784ee31-6d79-4a37-9e1f-01d6ef31940e
27               5     0  170.44853  e919b253-da5b-4aae-a444-6a368376a2d6
28               4  2001  236.53832  0b5aab47-3b3b-45f4-8488-2fc98e035166
29               4  1995  184.39791  ba0d6274-db14-4ef5-b28d-657ebde1a396
30               4  2001  199.81016  1f1f6737-b930-46fc-8d25-110bb99f7490
31               4  1995  162.32444  b44299ef-1399-48a4-832d-899b49c1455d
32               1  1987  109.71383  870ab832-904b-4b49-ab72-7e6b0e0da65f
33               3     0  257.46240                                   NaN
34               4  2003  230.76526  0f7f7e94-ce9d-496a-b894-42d642b5229e
35               3  1990  192.13016  65a8ee1c-20ef-4e2d-bf55-33a35bd7e644
36               4     0  217.91302  40cb378d-02c4-4f83-8e31-ee99c51feb15
37               3     0  195.02975  e004a126-7167-48f9-aeec-1e0cd75749f4
38               3     0  205.50485  96a5d12b-6f2e-4679-be43-ce0cc5146da6
39               7     0  341.05424  f6f3efdb-2c1c-4f42-81b2-f92979e42308
40               4     0  369.26649  2db6e9c3-5aa1-4876-9ec6-8f18c75d5210
41               7  2005  244.45342  8ef1df30-ae4f-4dbd-9351-1a32b208a01e
42               1     0  271.49016  a506c0c1-a837-4c5c-8062-78063bb27542
43               3     0  177.26649  85495572-8c41-4d3e-8e11-ba9142793adc
44               1     0  178.57261  61a75fe6-c102-49bf-96b0-40a1b85c8e7c
45               4  2007  199.28771  bbc8d6b5-a3e3-4d51-9f4e-565e9ef94967
46               5  1989  172.09424  2d6d27d3-b18b-4436-b174-b155ca917ab6
47               7  2002  196.93669  494e8d09-f85b-4543-892f-a5096aed1cd4
48               1     0  327.05261  6e82e5d9-c7ae-4de1-8691-be6e870b294c
49               4  1988  185.23383  5ecc3f72-20a6-47a0-8dc5-fb0b3dadeea0
50               3     0  253.43955  a9100753-f539-43cf-bcc9-579566fb512e
51               4     0  242.93832  d9f9a722-362e-4be6-8748-00cd9454cb15
52               4  1989  284.76036  84c38d3a-3400-4c28-b988-90558bb6fae0
53               3     0  213.41995  ac367c2e-7783-41e5-a184-131da6b0c166
54               4  1994  218.38322  9ef8042a-2528-4f5c-b7c1-5e72b1efe170
55               3     0  178.15465                                   NaN
56               3     0  312.08444  3235711a-9a9e-4132-8175-d0338f4d62cd
57               4     0  254.98077  5ca3f318-d028-4151-ac73-78e2b2d6cdcc
58               4     0  237.55710  35f20f29-d3da-4c18-a81b-ceca1e181d97
59               1     0  197.79873  23d9d74d-c95e-46a6-be26-a6075c49747a
               ...   ...        ...                                   ...

                                      artist_location  artist_7digitalid  \
0                                      D�orf, Germany                983
1                                      New London, CT              27822
2                                                 NaN             399673
3                                                 NaN             108554
4                            New York, NY [The Bronx]              10549
5                                             England               2352
6                                  Yorkshire, England             367053
7                          Ramsey, Fayette County, IL              22402
8                                        McLellan, FL               2090
9                                                 NaN              21344
10                                                NaN             192322
11                                        Paw Paw, WV              16253
12                          Yiewsley, London, England               1630
13                                Geneva, Switzerland              29437
14                                        Orlando, FL              54273
15                                                NaN              23700
16                                     J�ping, Sweden              10180
17                                     Birmingham, AL              20690
18                                                NaN             409537
19                                                NaN              64896
20                                    Antibes, France              12566
21                                            GERMANY             116499
22                                                NaN              38573
23                                                NaN              16367
24                                       New York, NY             129713
25                                    Los Angeles, Ca              41583
26                                    East Orange, NJ               1968
27                                   Washington, D.C.               9718
28                                                NaN               5417
29                                        Chicago, IL               7041
30                                         Newark, NJ                368
31                                      Brest, France              26669
32                             Shelby, North Carolina               3363
33                                                NaN              17528
34                                                NaN              41644
35                                           Helsinki             309423
36                                                NaN             291877
37                               NASHVILLE, Tennessee             304663
38                                                NaN               7565
39                                                NaN             505851
40                                                NaN              90217
41                                   Harlem, New York               1237
42                                           Missouri             477060
43  Bézu, comme Superdupont, ne connait qu&#039;un...             304198
44                                       Stamford, CT              43762
45                                    Los Angeles, CA               1459
46                                                NaN             141951
47                                 New York, New York               5732
48                           West Hartlepool, England             185262
49                                                NaN              13447
50                                          İngiltere               4081
51                                                NaN              40912
52                                        Waukesha WI              11528
53                                                                 17864
54                             Boston, Massachusettes              16929
55                                                NaN             330695
56                                          Tyler, AL             149177
57                                    Gainesville, FL               4996
58                          UK - England - South West              51197
59                                    London, England                 25
                                                  ...                ...

    idx_artist_terms  time_signature_confidence  artist_longitude  \
0                  0                      0.968               NaN
1                  0                      0.774         -72.09647
2                  0                      1.000               NaN
3                  0                      0.619               NaN
4                  0                      0.350         -73.85678
5                  0                      0.922          -1.97406
6                  0                      0.000          -1.20788
7                  0                      0.986         -89.10827
8                  0                      0.000               NaN
9                  0                      0.841               NaN
10                 0                      0.000               NaN
11                 0                      0.000               NaN
12                 0                      0.000          -0.47261
13                 0                      0.000           6.14270
14                 0                      0.473               NaN
15                 0                      0.000               NaN
16                 0                      0.391               NaN
17                 0                      1.000         -86.81150
18                 0                      0.260               NaN
19                 0                      0.277               NaN
20                 0                      0.841           7.12123
21                 0                      0.000          10.45415
22                 0                      0.213               NaN
23                 0                      0.000               NaN
24                 0                      0.579         -74.00712
25                 0                      0.502        -118.24532
26                 0                      0.446         -74.20991
27                 0                      0.368               NaN
28                 0                      0.501               NaN
29                 0                      0.946         -87.63241
30                 0                      1.000               NaN
31                 0                      0.509          -4.48622
32                 0                      0.000               NaN
33                 0                      1.000               NaN
34                 0                      0.441               NaN
35                 0                      0.426               NaN

In [3]:
# Tell pandas to load this dataframe as a MySQL table
import pandas as pd
import os
import os.path
dfBillboard = pd.read_csv(os.path.join(resultsRoot,'billboard.csv'))
dfBillboard = df.astype(object).where(pd.notnull(df), None)
dfBillboard.to_sql("billboard", con= dbConnection, flavor = 'mysql', if_exists = 'replace')

NameError: name 'resultsRoot' is not defined